#product {
  width: 100%;
  background-color: #033139;
  padding: 4rem 7rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.product-texts p,
.product-texts h2 {
  color: #ffffff;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}
.product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px 1rem;
  border-radius: 10px;
  gap: 1rem;
}
.product-card a {
  font-size: 1.2rem;
}
.product-card a:hover {
  transform: scale(1.1);
  color: #a52a2a;
}

@media (max-width: 1000px) {
  #product {
    padding: 3rem;
  }
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 10px;
  }
}

@media (max-width: 600px) {
  #product {
    padding: 2rem;
  }
  .product-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
}

@media (max-width: 400px) {
  #product {
    padding: 3rem;
    gap: 3rem;
  }
  .product-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
