#connect-section {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 7rem;
  gap: 5rem;
}

.connect-card1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: transparent;
}
.card1-info {
  text-align: left;
  gap: 1rem;
}

.contacts a {
  font-size: 1.2rem;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}
.contacts a,
.card2-content a:hover {
  transform: scale(1.1);
  color: #4d1d1d;
  border-bottom: 1px solid #4d1d1d;
}
.contact-us,
.card2-content a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #4d1d1d;
}
.contact-us:hover {
  transform: scale(1.1);
  color: #a52a2a;
  font-size: 1.3rem;
}
a span {
  font-size: 1.1rem;
  color: #4d1d1d;
}
.card1-image {
  max-width: 350px;
  max-height: 300px;
  border-radius: 20px;
}
.card1-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
label {
  font-weight: 700;
}

.connect-card2-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  gap: 3rem;
}
.card2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.card2-image {
  max-width: 400px;
  min-width: 250px;
  max-height: 300px;
  border-radius: 20px;
}
.card2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card2-image img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  #connect-section {
    padding: 2rem 4rem;
  }
  .connect-card2-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .connect-card1 {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  #connect-section {
    padding: 2rem;
  }

  .connect-card2-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .card2-content {
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .connect-card2-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
