#testimonials {
  width: 100%;
  background-color: #e9bddc4f;
  text-align: left;
  min-height: 100vh;
  padding: 4rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.testimonial-container h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.testimonial-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
}
.testimonial-content2 {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.testimonial-card {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #4d1d1d40;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.testimonial-image {
  max-width: 200px;
  height: 200px;
}
.testimonial-image img {
  width: 100%;
  object-fit: cover;
}
.bestresults {
  width: 100px;
  height: 100px;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card2-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 1.5rem;
}

.card2 h3 {
  font-size: 1.2rem;
}
.testimonial-link {
  margin-top: 1rem;
  font-size: 1rem;
}
.testimonial-link:hover {
  transform: scale(1.1);
  color: #4d1d1d;
}

@media (max-width: 768px) {
  #testimonials {
    padding: 2rem;
    text-align: center;
  }

  .testimonial-content {
    grid-template-columns: 1fr;
  }

  .testimonial-content2 {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 2rem;
  }
  .card2-child {
    padding: 1rem 0;
    gap: 10px;
  }
  .bestresults {
    width: 70px;
  }
}

@media (max-width: 1024px) {
  .testimonial-card {
    border: 1px solid #4d1d1d40;
    padding: 15px 1.5rem;
  }
}
