#testimonials {
  width: 100%;
  background-color: #e9bddc4f;
  text-align: left;
  min-height: 100vh;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin: 50px;
  padding: 5rem;
  background-color: transparent;
}
.testimonial-container h2 {
  text-align: center;
}
.testimonial-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
}
.testimonial-content2 {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.testimonial-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #4d1d1d40;
  padding: 20px 3.5rem;
}
.testimonial-card h4 {
  font-size: 1.5rem;
}

.testimonial-image {
  width: 200px;
  height: 200px;
}
.testimonial-image img {
  width: 100%;
  object-fit: cover;
}
.bestresults {
  width: 100px;
  height: 100px;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card2-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 1.5rem;
}

.card2 h3 {
  font-size: 1.2rem;
}
.testimonial-link {
  margin-top: 1rem;
  color: #000;
  font-size: 1rem;
}
.testimonial-link:hover {
  transform: scale(1.1);
  color: #4d1d1d;
}

/* Responsiveness */

/* Small phones */
@media (min-width: 320px) and (max-width: 480px) {
  .testimonial-container {
    gap: 50px;
    margin: 20px;
    padding: 3rem;
  }
  .testimonial-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .testimonial-content2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
  }
}

/* Large phones */
@media (min-width: 500px) and (max-width: 600px) {
  .testimonial-container {
    gap: 50px;
    margin: 20px;
    padding: 3rem;
  }
  .testimonial-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .testimonial-content2 {
    flex-direction: column;
  }
}

/* Tablets */
@media (min-width: 610px) and (max-width: 768px) {
  .testimonial-container {
    gap: 50px;
    margin: 20px;
    padding: 3rem;
  }
  .testimonial-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .testimonial-card {
    padding: 20px 2rem;
  }
  .testimonial-content2 {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    padding: 20px 5px;
  }
}

/* Small laptops */
@media (min-width: 820px) and (max-width: 1024px) {
  .testimonial-container {
    gap: 50px;
    margin: 50px;
    padding: 3rem;
  }
  .testimonial-content {
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1rem;
  }
  .testimonial-card {
    border: 1px solid #4d1d1d40;
    padding: 20px 2rem;
  }
}
